body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

body.dark-mode {
    background-color: #1a1a1a;
    color: #f4f4f4;
}

header {
    background-color: #000;
    color: #fff;
    padding: 1rem;
    text-align: center;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-content {
    display: flex;
    align-items: center;
}

header .logo {
    width: 50px;
    height: auto;
    margin-right: 1rem;
}

header .theme-toggle {
    background-color: #fff;
    color: #000;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

header .theme-toggle:hover {
    background-color: #333;
    color: #fff;
}

main {
    padding: 2rem;
}

form {
    max-width: 400px;
    margin: 0 auto;
    background-color: #fff;
    padding: 2rem;
    border-radius: 16px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

body.dark-mode form {
    background-color: #333;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: bold;
    color: #333;
}

body.dark-mode label {
    color: #f4f4f4;
}

input {
    margin-bottom: 1rem;
    padding: 0.5rem;
    width: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    transition: background-color 0.3s ease, border-color 0.3s ease;
}

body.dark-mode input {
    background-color: #555;
    color: #f4f4f4;
    border: 1px solid #777;
}

input:focus {
    border-color: #fff;
    outline: none;
}

button {
    padding: 0.5rem 1rem;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    width: 100%;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #333;
}

footer {
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed;
    width: 100%;
    bottom: 0;
}

@media (max-width: 600px) {
    main {
        padding: 1rem;
    }

    form {
        padding: 1rem;
    }
}
